<div class="row">
  <div class="col">
    <h1 class="display-1">Editing Job</h1>
  </div>
  <div class="col-2 d-flex justify-content-end align-items-end">
    <%= link_to 'Delete Job', job_path(@job), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<hr>
<%= render 'form', job: @job %>
